


:root{
    --main-radius:5px;
    --main-padding:5px;
}  

body{
    background-color: #3d405b;
}

@media only screen and (max-widht:768){
    .container{
        background:transparent;
        display:grid;
        height:100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 3fr 0.3fr;
        grid-template-areas:
          "nav"
          "main"
          "footer";
        grid-gap: 0.2rem;
    }
}


nav{
  grid-area: nav;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
  margin-top: 50px;
}

#main{
  grid-area: main;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
  margin-left: auto;
  margin-right: auto;
}

footer{
  grid-area: footer;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
  margin-left: auto;
  margin-right: auto;
}

.bodybag{
    width: fit-content;
    overflow: hidden;
    margin: 20px;
}

.iconfoto{
    width: 300px;
    height: 300px;
    background: #fef9ef;
    background-image: url('../images/pfp.png');
    background-size: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    animation: fadein 5s;
}

.parent{
    margin-top: 25px;
    margin-left: 850px;
}


h1{
        font-family: Helvetica;
        font-size: 50px;
        font-weight: 900;
        color: #fef9ef;
        margin-top: 50px;
        margin-left: 300px;
        margin-right: 300px;
}

h4{
    font-family: Helvetica;
    font-size: 15px;
    font-weight: lighter;
    color:#fef9ef;
    margin-top: 50px;
        margin-left: 300px;
        margin-right: 300px;
}

p{
        font-family: Arial;
        font-size: 25px;
        color: white;
        margin-top: 50px;
        margin-left: 300px;
        margin-right: 300px;
}

@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-widht:550px){
    .container{
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 5fr 0.4fr;
      grid-template-areas:
        "nav"
        "main"
        "footer";
    }
  }